// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  background-color: $brand1;
  color: white;
  display: flex;
  flex-wrap: wrap;

  .footer-section {
    padding: 10px;
  }

  h2 {
    font-size: 30px;
    color: $accent3;
    font-family: $font1;
    font-weight: bold;
  }

  p {
    font-size: 18px;
  }

  a {
    color: white;
    cursor: pointer;
  }
}

@media screen and (min-width: 700px) {
  .footer-section {
    justify-content: space-between;
    align-content: flex-start;
  }

  #contact {
    width: 35%;
  }

  #about {
    width: 65%;
  }
}
