.hero {
  background-color: $accent1;
  font-size: 25px;
  color: white;
  margin-top: -26px;
  padding: 20px;
  font-family: $font1;

  img {
    width: 75px;
    margin: 10px;
  }

  h1 {
    font-family: $font1;
    color: $brand2;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
  }

}
