.nav-wrapper {
  background-color: $brand2;

  img {
    width: 75px;
    margin: 0px 0px 10px 10px;
  }

  ul {
    right: 10px;
  }

  li:hover {
    background-color: $accent3;
    color: $brand2;
  }

}
