/**
 * Basic typography style for copy text
 */
body {
  color: $text;
  font: normal 125% / 1.4 $text-font-stack;

}

$font1: 'Nunito', sans-serif;;


h1 {
  font-family: $font1;
  color: $brand1;
  font-weight: bold;
  font-size: 35px;

}
