// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$brand1: rgba(27, 153, 139, 1);
$text: rgba(45, 48, 71, 1);
$brand2: rgba(117, 72, 94, 1);
$accent1: #A2C48D;
$accent2: #56445D;
$accent3: #DDDDbb;

.brand2 {
  background-color: $brand2;
}

.accent3 {
  background-color: $accent3;
}

.brand1 {
  background-color: $brand1;
}

.brand1-text {
  color: $brand1;
}

.brand2-text {
  color: $brand2;
}

.accent3-text {
  color: $accent3;
}

.button-white {
  color: white;
}
/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;



/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
